/* Evaluation.module.css */
.evaluationContainer {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: calc(100vh - 8vh);
    padding: 20px;
    border-radius: 10px;
    width: 70vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.evaluationDropdown {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.evaluationButton {
    background-color: #4caf50;
    /* color: white; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.evaluationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
