/* Header styling */
.header {
    min-height: 60px; /* Set a minimum height for the header */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins';
    box-sizing: border-box;
    position: sticky; /* Changed from fixed to sticky */
    top: 0;
    background-color: #003366;
    width: 100%;
    z-index: 1;
}

/* Close icon styles */
.closeIcon {
    color: #fff; /* Change to red if preferred */
    font-size: 24px; /* Adjust size as needed */
}

/* Logo styles */
.logoImage {
    width: 75%;
    height: auto;
    filter: brightness(0) invert(1);
    transform: translateY(0);
}

/* Sliding menu styles */
.slideMenu {
    position: fixed;
    top: 8.3vh; /* Adjusted to account for header height */
    left: 0;
    width: 13rem;
    background-color: whitesmoke;
    height: calc(100vh - 8vh);
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    transform: translateX(-100%); /* Hide the menu off-screen by default */
}

.slideMenu.active {
    transform: translateX(0); /* Slide in when active */
}

.slideMenu ul {
    list-style: none;
    padding: 0;
}

.slideMenu ul li {
    margin: 15px 0;
}

.slideMenu ul li button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 1vw;
    justify-content: space-between;
    transition: 0.1s ease-in-out;
}

.slideMenu ul li:hover {
    color: #007bff;
    background-color: #e0e0e0;
}

.slideMenu ul li:active li {
    background-color: #e0e0e0;
}

.menu-arrow {
    margin-left: 8px;
    font-size: 16px;
    color: white;
}

.slideMenu ul li:hover .menu-arrow {
    color: #007bff; /* Change arrow color on hover */
}

.multistepWrapper {
    display: flex;
    width: 95%; /* Adjusted width to create space on sides */
    height: calc(100vh - 15vh); /* Set height to fit within the viewport */
    margin: 0 auto;
    padding: 2vh; /* Padding of 2vh from all sides */
    border-radius: 10px; /* Rounded borders */
    background-color: white; /* Background color for the box */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    overflow: hidden; /* Prevent scrolling */
}

.slideMenu1 {
    position: relative;
    left: 0;
    width: 13rem; /* Adjusted width to provide more space */
    height: calc(100vh - 8vh); /* Adjusted height to match parent */
    background-color: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    padding: 20px;
}

.slideMenu1 ol {
    list-style-type: decimal;
    padding: 0;
}

.slideMenu1 ol li {
    margin: 15px 0;
}

.slideMenu1 ol li button {
    text-decoration: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.slideMenu1 ol li button:hover {
    color: #007bff;
}

.slideMenu1 ol li button:active li {
    background-color: #0000B3;
}

.contentShifted {
    margin-left: 15rem; /* Adjusted margin to match the slide menu width */
}
