/* Header styling */
.header {
    min-height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
    font-family: 'Poppins';
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Hamburger icon styles */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Adjust spacing as needed */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
}

/* Logo styles */
.logoImage {
    width: 75%;
    height: auto;
    transform: translateY(0);
}

/* Sliding menu styles */
.slideMenu {
    position: fixed;
    top: 8.3vh;
    left: 0;
    width: 13rem;
    height: calc(100vh - 8vh);
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.slideMenu ul {
    list-style: none;
    padding: 0;
}

.slideMenu ul li {
    margin: 15px 0;
}

.slideMenu ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 1vw;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
}

.slideMenu ul li a:hover {
    color: #007bff;
    background-color: #b8d5f4;
}

.slideMenu ul li a:active li {
    background-color: #0000B3;
}

.menu-arrow {
    margin-left: 8px;
    font-size: 16px;
    color: white;
}

.slideMenu ul li a:hover .menu-arrow {
    color: #007bff; /* Change arrow color on hover */
}

.contentShifted {
    color: white;
    margin-left: 16.3vw;
}
